:root {
  --merah: #B71C1C;
  --merah-header: #800000;
  --merah-muda: #D32F2F;
  --hitam: #121212;
  --hitam-muda: #1E1E1E;
  --emas: #FFD700;
  --emas-muda: #FFE55C;
  --putih: #FFFFFF;
  --abu: #5f6368;
  --abu-muda: #f8f9fa;
  --abu-tua: #3c4043;
  --hijau: #34a853;
  --biru: #1a73e8;
}